body{
    background-image: url('bg2.png') ;background-repeat: no-repeat;
}   

.box-insert
{
    width: 500px;
    height: 270px; 
    background-color: white; 
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 10px;
    padding: 5px;
}

h1
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:slateblue;
}

.scroll
{
    overflow:scroll;
    height: 500px;
}

.wrap-input100 {
    width: 90%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .label-input100 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
    padding-left: 5px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    padding: 0 5px;
  }
  
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #7f7f7f;
  }
  
  input.input100 {
    height: 40px;
  }
  
  
  textarea.input100 {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
  }
  
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }

  input {
	outline: none;
	border: none;
}

.btn-primary
{
    width: 100px;
    margin-left: 20px;
}

/* -------------------------------------------- */

.box-display
{
    background-color: white;
    width: 900px;
    height: 640px;
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 10px;
    padding: 5px;
}

.table
{
    width: 90%; 
    margin-left: 50px; 
    margin-top: 30px;
    border: 1px solid grey;
}

#text-insert
{
  color:white;
  background-color: #7f7f7f;
  width: 250px;
  height: 25px;
  margin-top: 5px;
  text-align: center;
  font-size: medium;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: none;
}